#hed {

width: 100%;
margin-top: 0;
color: black;
font-size: large;
margin-bottom: 20px;
padding: 40px;
white-space: pre-line;  
}

#sp {

float:left ;


}

#vp {

    float:right ;
    
    
    }

    #hi {

margin-top: 2100;

    }

    canvas {

animation-name: fun ;
animation-duration: 4s;
animation-iteration-count: infinite;
background-color: white;
margin-top: 400px;
border-radius: 40px;

    }

    @keyframes fun {

from{box-shadow: 1px 1px 30px orange;}
to{box-shadow: 1px 1px 30px white;}

    }